<script type="text/javascript">


</script>

<div class="page-header">
	<h1><?= $this->titulo ?> <b><?=$product["name"]?></b></h1>
</div>

<div class="row">

	<div class="panel panel-info">
	  <div class="panel-heading"><center><h4><i class="fas fa-edit"></i> Update Product</h4></center></div>
	  <div class="panel-body">

	  	<div class="row">

	  		<form method="post">
			  	<div class="col-md-6">
				  <div class="form-group">
				    <label>Name:</label>
				    <input type="input" class="form-control" name="name" value="<?=$product["name"]?>" required>
				  </div>
			  	</div>		  	
	  	

			  	<div class="col-md-6">
				  <div class="form-group">
				    <label>Price(USD):</label>
				    <input type="input" class="form-control" name="price" value="<?=$product["price_usd"]?>" required>
				  </div>
			  	</div>			  	

			  	<div class="col-md-12">
				  <div class="form-group">
				    <label>Description:</label>
				    <textarea class="form-control" name="description"> <?=$product["description"]?> </textarea>
				  </div>
			  	</div>

			  	<center><button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button></center>
		    </form>

	  	</div>

	  </div>
	</div>  


</div>


