<script type="text/javascript">



</script>

<div class="page-header">
	<h1><?= $this->titulo ?></h1>
</div>

<div class="row">

	<div class="col-md-12">
			<a style="text-decoration: none;font-size: 20px" href="<?= "nuevo" ?>"><span class="fas fa-plus"></span> Add New Product</a>
			<?php 
				if($articulos){
			?>
		<table class="table striped bordered" >
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Price(USD)</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<?php
					
					foreach($articulos as $productos):
						$id = $productos["id"];
				?>
				<tr style="background-color: <?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
					<td><?php echo $productos["name"] ?></td>
					<td><?php echo $productos["description"] ?></td>
					<td><?php echo "$".$productos["price_usd"] ?></td>
					<td><a title="Update" href="<?php echo $this->url('producto',['action'=>'editar','id'=>$id ])?>"><span class="fas fa-edit"></span></a></td>

				</tr>
			<?php endforeach;
			?>
			</tbody>
			<?php
				$this->cycle()->assign(array("#F0F0F0","#FFFFFF"));
				$this->cycle()->prev();
			?>
		</table>
			<?php
				$this->cycle()->assign(array("#F0F0F0","#FFFFFF"));
				$this->cycle()->prev();
			?>
		</table>
<?php }else{
	?>

	<div class="row">
		<div class="col-md-12">
			<?php echo "Not Have Products"; ?>
		</div>
	</div>
<?php }?>
	</div>
</div>
