<script type="text/javascript">

$(function() {
  $('#inp').on('#inp', function() {
    this.value = this.value
      .replace(/[^\d.]/g, '')             // numbers and decimals only
      .replace(/(^[\d]{2})[\d]/g, '$1')   // not more than 2 digits at the beginning
      .replace(/(\..*)\./g, '$1')         // decimal can't exist more than once
      .replace(/(\.[\d]{4})./g, '$1');    // not more than 4 digits after decimal
  });
});

</script>

<div class="page-header">
	<h1><?= $this->titulo ?></h1>
</div>

<div class="row">

	<div class="panel panel-info">
	  <div class="panel-heading"><center><h4><i class="fas fa-plus"></i> Add New Product</h4></center></div>
	  <div class="panel-body">

	  	<div class="row">

	  		<form method="post">
			  	<div class="col-md-6">
				  <div class="form-group">
				    <label>Name:</label>
				    <input type="input" class="form-control" name="name" required>
				  </div>
			  	</div>		  	


			  	<div class="col-md-6">
				  <div class="form-group">
				    <label>Price(USD):</label>
				    <input type="input" class="form-control" name="price" required>
				  </div>
			  	</div>			  	

			  	<div class="col-md-12">
				  <div class="form-group">
				    <label>Description:</label>
				    <textarea class="form-control" name="description"></textarea>
				  </div>
			  	</div>

			  	<center><button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button></center>
		    </form>

	  	</div>

	  </div>
	</div>  


</div>


