<div class="page-header">
	<h1><?= $this->titulo ?></h1>
</div>

<div class="row">
	<div class="col-md-12">

		<table class="table striped bordered" >
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
				</tr>
			</thead>

			<tbody>
				<?php
					foreach($this->listaUsuario as $usuario):
				?>
				<tr style="background-color: <?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
					<td><?php echo $usuario->getId() ?></td>
					<td><?php echo $usuario->getNombre() ?></td>
					<td><?php echo $usuario->getApellido() ?></td>

					<td>
						<a href="<?php echo $this->url('usuario',['action'=>'ver','id'=>$usuario->getId()])?>">Ver</a>
					</td>
				</tr>
			<?php endforeach; ?>
			</tbody>
			<?php
				$this->cycle()->assign(array("#F0F0F0","#FFFFFF"));
				$this->cycle()->prev();
			?>
		</table>

	</div>
</div>