<div class="page-header">
	<h1><?= $this->titulo ?></h1>
</div>

<div class="row">
	<div class="col-md-12">

    <div class="panel panel-info">
      <div class="panel-heading">Detalles</div>
      <div class="panel-body">
		<b>ID:</b> <?= $usuario->id;?><br>
		<b>Nombre:</b> <?= $usuario->nombre;?><br>
		<b>Apellido:</b> <?= $usuario->apellido;?>
      </div>
    </div>

	</div>
</div>